apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: argocd-destination-api
  namespace: argocd
  labels:
    app: argocd-destination-api
rules:
  - apiGroups:
      - argoproj.io
    resources:
      - appprojects
    verbs:
      - get
      - list
      - patch
