apiVersion: v1
kind: Service
metadata:
  name: argocd-destination-api
  namespace: argocd-project-manager
  labels:
    app: argocd-destination-api
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: argocd-destination-api
